<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fd77b449-6ee6-4bf4-b74b-b2bb1fc768ba/resourceGroups/MyResource/providers/Microsoft.Web/sites/HRGPTWebApp</ResourceId>
    <ResourceGroup>MyResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://hrgptwebapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://hrgptwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$HRGPTWebApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>